@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
    }

/* Общие стили */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;

}

.main-container {
  flex-grow: 1;
}

.button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 32px;
  display: block;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Стили хэдера */

.main-header {
  display: flex;
  margin: 0 auto;
}

.main-header-logo {
  margin-right: 28px;
}

.navigation {
  display: flex;
  margin: 0 auto;
  width: 1060px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-list-logo {
  width: 339px;
}

.navigation-list-item {
  margin: 0;
  padding: 0;
}

.navigation-user {
  width: 268px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
  color: #000000;
}

.navigation-search {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  min-height: 64px;
  min-width: 44px;
}

.navigation-favourite {
  background-image: url("../images/icons/favourites.svg");
  background-repeat: no-repeat;
  min-height: 64px;
  min-width: 44px;
}

.navigation-button {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-left: 20px;
}

.hero {
  background-image: url("../images/sedona-view-main.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 485px;

}

.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

}

.general-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  margin-top: 69px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 25px;
  margin-bottom: 0;

}

.general-description-detail {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 620px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

}

.description-section {
  display: flex;
  flex-direction: column;
}


/* Стили для блока преимуществ  */


.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  justify-content: center;
  text-align: center;
  margin-top: 90px;
  list-style-type: none;
}


.advantages-item {
  font-size: 24px;
  line-height: 28px;
  background-color: rgba(131, 179, 211, 0.12);
}

.middle-advantages {
  display: flex;
  width: 1200px;
  text-align: center;
  margin: auto;
}

.middle-advantages .advantages-item {
  width: 400px;
  height: 395px;
  align-items: center;
  margin: auto;
}

.advantages-item-with-picture-text {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.advantages-item:nth-child(5) {
  background-color: #82B3D3;
}

.advantages-item-with-picture {
  display: flex;
  color: #ffffff;
  background-color: #82B3D3;
  width: 1200px;
  flex-grow: 1;
  margin: auto;
  justify-content: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-description-with-picture {
  width: 230px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}


.advantages-image-reverse {
  order: -1;
}

.booking {

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 69px;
}

.booking .button {
  margin-top: 62px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Стили для блока удобства */

.utilities .general-description-detail {
  padding-bottom: 64px;
}

.utilities-list {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.utilities-item {
  font-size: 24px;
  line-height: 28px;
  background-color: rgba(131, 179, 211, 0.12);
  margin: auto;
  justify-content: center;
  text-align: center;
  list-style-type: none;
}

.utilities-item:nth-child(2) {
  background-color: #ffffff;
}

.utilities-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.utilities-title {
  text-transform: uppercase;
}

.utilities-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;


}

.utilities-title-general {
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  padding-top: 90px;
}

.utilities-title-house {
  background-image: url("/images/icons/house.svg");
}

.utilities-title-food {
  background-image: url("/images/icons/food.svg");
}

.utilities-title-souvenirs {
  background-image: url("/images/icons/souvenirs.svg");
}

/* Стили для блока подписки */

.newsletter {
  background-image: url("../images/landscape.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  text-align: center;
  height: 415px;
}


.newsletter-title {
  text-transform: uppercase;
  padding-top: 96px;
  padding-bottom: 20px;
}

.newsletter-form {
  margin-left: auto;
  margin-right: auto;
}

.newsletter-button {
  background-color: #82B3D3;
  margin-left: auto;
  margin-right: auto;
}


/* Стили для футера */

.contact-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.page-footer {
  display: flex;
  width: 1200px;
  justify-content: space-around;
  margin-top: 69px;
  margin-left: auto;
  margin-right: auto;
}

.social-list {
  display: flex;
  justify-content: space-around;
  width: 142px;
  list-style-type: none;
}

.social-icon-vkontakte {
  background-image: url("/images/icons/social-vk.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 40px;
}

.social-icon-telegram {
  background-image: url("/images/icons/social-telegram.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 40px;
}

.social-icon-youtube {
  background-image: url("/images/icons/social-youtube.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 40px;
}

/* Стили для страницы каталога */


.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
  margin-left: 106px;
}

.catalog-hotels {
  background-image: url("../images/mountains.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  /* display: flex;
  justify-content: flex-start; */
}



.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin-left: 70px;

}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  display: flex;
  width: 151px;
  border: none;
  margin-left: 70px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 32px;
}

.catalog-filter-type {
  display: flex;
  width: 151px;
  border: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item:not(:last-child) {
  padding-bottom: 16px;
}

.catalog-filter-list {
  list-style-type: none;
  padding-left: 0;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 549px;
  justify-content: center;

}

.button-apply {
  background-color: #82B3D3;
  width: 191px;
  height: 36px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 32px;

}

.button-reset {
  background-color: transparent;
  border: none;
  width: 191px;
  height: 36px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.filter-sorting-section {
  display: flex;
  width: 1060px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}

.filter-results {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
}

.button-light {
  background-color: #ffffff;
  color: #000000;
}

.hotels-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 0;
}

.hotels-item {
  color: #000000;
  padding: 0;
  margin: 0;
}

.hotels-item-link {
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: inherit;
}

.hotels-button-favourite {
  background-color: #82B3D3;
}

.hotels-item-button-selected {
  background-color: #7DB54F;
}

.hotels-item-rating-detail {
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  width: 1060px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style-type: none;

}

.pagination-item {
  width: 60px;
  background-color: #82B3D3;
  text-align: center;
  margin-left: 8px;
  padding: 0;
}

.pagination-item:first-child {
  margin-left: 0;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-item-hidden {
  color: #000000;
  background-color: #ffffff;
}
